* { 
	box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

body {
    margin: 0 33px 0 33px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

p, h1 {
    margin: 0;
}

main {
    margin-top: 124px;
}

footer {
    margin: 124px 0;
}

li {
    margin-bottom: 8px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

#name {
    font-weight: 300;
    color: #A6A6A6;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 12px;
}

#nav {
    margin-bottom: 82px;
    margin-top: 23px;
}

#name-redirect {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-img {
    height: 170px;
    margin-bottom: 45px;
}

.header-title, #footer-header {
    margin-bottom: 8px;
}

.header-title {
    font-size: 1.625rem;
}

#header-subtext {
    font-size: 1.375rem;
    font-weight:300;
    width: 100%;
    max-width: 420px;
}

#footer-header {
    font-size: 1.375rem;
}

#header-subtext, #footer-subtext, .project-number {
    color: #A6A6A6;
}   

#header-subtext, #footer-subtext {
    margin-bottom: 27px;
}

#bedring-app-image {
    margin-bottom: 45px;
}

.icon {
    height: 50px;
}

.button {
    background-color: #50E8BA;
    color: white;
    border-radius: 7px;
    border: none;
    height: 50px;
    width: 154px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}

.top-project {
    margin-bottom: 80px;
}

.project-container {
    width: 100%;
}

.project-background {
    background-color: #F6F6F6;
    border-radius: 16px;
    width: 100%;
    margin-top: 22px;
    transition: 0.2s;
    cursor: pointer;
}

.project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 0;
}
.project-number {
    margin-bottom: 5px;
}

.button:hover {
    background-color: black;
}

.project-background:hover {
    background-color: #50E8BA;
}

.grey-style {
    color: #A6A6A6;
    width: 100%;
    font-size: 20px;
}

.project-section {
    margin-top: 124px;
}

@media only screen and (min-width: 720px) {

    .project-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .top-project {
        margin-right: 30px;
    }
  }

  @media only screen and (min-width: 992px) {
    html {
        font-size: 18px;
    }

    #footer-subtext {
        width: 60%;
    }

    body {
        margin: 0 85px 0 85px;
    }

    .grey-style {
        width: 80%;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    #bedring-app-image {
        margin-bottom: 0;
        width: 60%;
    }

    #header-img {
        width: 40%;
        height: 40%;
    }

    .project-image {
        height: 30vw;
    }
  }

  @media only screen and (min-width: 1400px) {
    html {
        font-size: 20px;
    }

    body {
        margin: 0 240px 0 240px;
    }

    .header-title {
        font-size: 40px;
    }

  }



